<nav class="flex mt-[100px] ml-[200px]" aria-label="Breadcrumb">
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    <li class="inline-flex items-center">
      <a
        href="/hotels"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-green-500 dark:text-gray-400 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
          />
        </svg>
        Hotels
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg
          class="w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <a
        
          (click)="navigateToContracts(hotelID ? +hotelID : 0)"
          class="text-sm font-medium text-gray-700 cursor-pointer ms-1 hover:text-green-500 md:ms-2 dark:text-gray-400 dark:hover:text-white"
          >Contracts</a
        >
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg
          class="w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <a
        (click)="navigateToUpdateContractMain(hotelID ? +hotelID : 0,contractID ? +contractID : 0)"
          class="text-sm font-medium text-gray-700 cursor-pointer ms-1 hover:text-green-500 md:ms-2 dark:text-gray-400 dark:hover:text-white"
          >Update Contract</a
        >
      </div>
    </li>
    <li class="relative">
      <div class="flex items-center">
        <svg
          class="w-3 h-3 mx-1 text-gray-400 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <button
          id="dropdownSeason"
          (click)="toggleDropdown()"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-green-500 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-900 dark:hover:bg-gray-800 dark:text-white dark:focus:ring-gray-700"
        >
          Update Season
          <svg
            class="w-2.5 h-2.5 ms-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 4 4 4-4"
            />
          </svg>
        </button>
        <div
          id="dropdown-season"
          class="absolute left-0 z-10 hidden mt-[210px] ml-[10px] bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
        >
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownSeason"
          >
            <li>
              <a
                (click)="selectComponent('discount'); toggleDropdown()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Discounts</a
              >
            </li>
            <li>
              <a
                (click)="selectComponent('roomtype'); toggleDropdown()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Room Types</a
              >
            </li>
            <li>
              <a
                (click)="selectComponent('supplement'); toggleDropdown()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Supplements</a
              >
            </li>
            <li>
              <a
                (click)="selectComponent('markup'); toggleDropdown()"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Markups</a
              >
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ol>
</nav>

<div *ngIf="selectedComponent === 'discount'">
  <app-discount></app-discount>
</div>
<div *ngIf="selectedComponent === 'roomtype'">
  <app-roomtype></app-roomtype>
</div>
<div *ngIf="selectedComponent === 'supplement'">
  <app-supplement></app-supplement>
</div>
<div *ngIf="selectedComponent === 'markup'">
  <app-markup></app-markup>
</div>
