<div class="mt-[130px]">
  <div *ngIf="hotel">
    <div class="flex items-center justify-center mb-10">
      <div
        class="w-full max-w-6xl p-8 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      >
        <h2
          class="text-4xl font-extrabold text-center dark:text-white mb-[30px]"
        >
          {{ hotel.hotelName }}
        </h2>

        <div
          id="season-carousel"
          class="relative w-full mb-6"
          data-carousel="slide"
        >
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <div
              *ngFor="let image of hotel.hotelImages; let i = index"
              [attr.data-carousel-item]="i"
            >
              <img
                [src]="'http://localhost:5000/HotelImages/' + image"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="Hotel Image {{ i + 1 }}"
              />
            </div>
          </div>
        </div>

        <p>{{ hotel.hotelDescription }}</p>
        <p>{{ hotel.cancellationPolicy }}</p>
        <p>{{ hotel.paymentPolicy }}</p>

        <h5
          class="mt-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ hotel.seasonDTO.seasonName }}
        </h5>
        <p class="text-gray-600 dark:text-gray-400">
          Valid from: <strong>{{ hotel.seasonDTO.validFrom }}</strong> to
          <strong>{{ hotel.seasonDTO.validTo }}</strong>
        </p>

        <!-- Room Types -->
        <div
          *ngFor="let roomType of hotel.roomTypeDTO"
          class="pt-4 mt-6 border-t"
        >
          <h6 class="text-2xl font-semibold text-gray-800 dark:text-gray-300">
            {{ roomType.roomTypeName }} -
            <strong>LKR {{ roomType.price }}</strong>
          </h6>
          <p>
            <strong>Max Occupancy:</strong>
            {{ roomType.maxNumberOfPersons }} persons | Max Number of Rooms
            {{ roomType.availableRooms }}
          </p>

          <div
            class="relative w-full mt-4"
            [attr.id]="'room-carousel-' + roomType.roomTypeName"
            data-carousel="slide"
          >
            <div class="relative h-32 overflow-hidden rounded-lg">
              <div
                *ngFor="let image of roomType.roomTypeImages; let j = index"
                [attr.data-carousel-item]="j"
              >
                <img
                  [src]="'http://localhost:5000/roomTypeImages/' + image"
                  alt="{{ roomType.roomTypeName }} Image {{ j + 1 }}"
                  class="absolute block object-cover w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Supplements -->
        <div class="mt-4">
          <strong class="text-gray-700 dark:text-gray-300">Supplements:</strong>
          <ul class="pl-5 list-disc">
            <li *ngFor="let supplement of hotel.supplementDTOS">
              {{ supplement.supplementName }} -
              <strong>LKR {{ supplement.price }}</strong>
            </li>
          </ul>
        </div>

        <!-- Discounts -->
        <div class="mt-4">
          <strong class="text-gray-700 dark:text-gray-300">Discounts:</strong>
          <ul class="pl-5 list-disc">
            <li *ngFor="let discount of hotel.discountDTO">
              {{ discount.discountName }} -
              <strong>{{ discount.percentage }}%</strong>
            </li>
          </ul>
        </div>

        <!-- Markups -->
        <div class="mt-4">
          <strong class="text-gray-700 dark:text-gray-300">Markups:</strong>
          <ul class="pl-5 list-disc">
            <li>
              {{ hotel.markupDTO.markupName }} -
              <strong>{{ hotel.markupDTO.percentage }}%</strong>
            </li>
          </ul>
        </div>

        <!-- Book Now Button -->
        <div class="flex justify-end mt-6">
          <button
            (click)="navigateToBooking()"
            class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-800 w-[100px]"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
