<div class="mt-[130px]">
  <div *ngIf="hotel">
    <div class="flex items-center justify-center mb-10">
      <div
        class="w-full max-w-6xl p-8 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      >
        <h2
          class="text-4xl font-extrabold text-center dark:text-white mb-[30px]"
        >
          <!-- Kingsford Residencies -->

          {{ hotel.hotelName }}
          <!-- Add more details as needed -->
        </h2>

        <!-- Carousel for Season Images -->
        <div
          id="season-carousel"
          class="relative w-full mb-6"
          data-carousel="slide"
        >
          <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Season Image Item 1 -->
            <div class="carousel-item fade" data-carousel-item>
              <img
                src="assets/hero1.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="Deluxe Room 1"
              />
            </div>
            <!-- Season Image Item 2 -->
            <div class="carousel-item slide" data-carousel-item>
              <img
                src="assets/hero1.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="Deluxe Room 2"
              />
            </div>
            <!-- Season Image Item 3 -->
            <div class="carousel-item zoom" data-carousel-item>
              <img
                src="assets/hero1.png"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt="Deluxe Room 3"
              />
            </div>
            <!-- Add more items as needed -->
          </div>
          <!-- Season Carousel Controls -->
          <button
            type="button"
            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group"
            data-carousel-prev
          >
            <span
              class="p-2 rounded-full bg-white/30 hover:bg-white/50 dark:bg-gray-800/30 dark:hover:bg-gray-800/60"
            >
              <svg
                class="w-4 h-4 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group"
            data-carousel-next
          >
            <span
              class="p-2 rounded-full bg-white/30 hover:bg-white/50 dark:bg-gray-800/30 dark:hover:bg-gray-800/60"
            >
              <svg
                class="w-4 h-4 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
            </span>
          </button>
        </div>
        <p>{{ hotel.hotelDescription }}</p>

        <!-- Season Information -->
        <h5
          class="mt-4 text-3xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ hotel.seasons[0].seasonName }}
        </h5>
        <p class="text-gray-600 dark:text-gray-400">
          Valid from: <strong>{{ hotel.seasons[0].validFrom }}</strong> to
          <strong>{{ hotel.seasons[0].validTo }}</strong>
        </p>

        <div
          *ngFor="let roomType of hotel.seasons[0].roomTypes"
          class="pt-4 mt-6 border-t"
        >
          <h6 class="text-2xl font-semibold text-gray-800 dark:text-gray-300">
            {{ roomType.roomTypeName }} -
            <strong>LKR {{ roomType.price }}</strong>
          </h6>
          <p>
            <strong>Max Occupancy:</strong>
            {{ roomType.maxNumberOfPersons }} persons
          </p>
          <p><strong>Available Rooms:</strong> {{ roomType.numberOfRooms }}</p>

          <!-- Carousel for Room Type Images -->
          <div
            id="room-carousel-{{ roomType.roomTypeName }}"
            class="relative w-full mt-4"
            data-carousel="slide"
          >
            <div class="relative h-32 overflow-hidden rounded-lg">
              <div
                *ngFor="let image of roomType.roomTypeImages"
                class="hidden duration-700 ease-in-out"
                data-carousel-item
              >
                <img
                  [src]="image"
                  alt="{{ roomType.roomTypeName }} Image"
                  class="absolute block object-cover w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                />
              </div>
            </div>
            <!-- Room Carousel Controls -->
            <button
              type="button"
              class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer start-0 group"
              data-carousel-prev
            >
              <span
                class="p-2 rounded-full bg-white/30 hover:bg-white/50 dark:bg-gray-800/30 dark:hover:bg-gray-800/60"
              >
                <svg
                  class="w-4 h-4 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 1 1 5l4 4"
                  />
                </svg>
              </span>
            </button>
            <button
              type="button"
              class="absolute top-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer end-0 group"
              data-carousel-next
            >
              <span
                class="p-2 rounded-full bg-white/30 hover:bg-white/50 dark:bg-gray-800/30 dark:hover:bg-gray-800/60"
              >
                <svg
                  class="w-4 h-4 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 6 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 9 4-4-4-4"
                  />
                </svg>
              </span>
            </button>
          </div>
        </div>

        <!-- Supplements, Discounts, and Markups -->
        <div class="mt-4">
          <div class="mb-4">
            <strong class="text-gray-700 dark:text-gray-300"
              >Supplements:</strong
            >
            <ul class="pl-5 list-disc">
              <li *ngFor="let supplement of hotel.seasons[0].supplements">
                {{ supplement.supplementName }} -
                <strong>LKR {{ supplement.price }}</strong>
              </li>
            </ul>
          </div>
          <div class="mb-4">
            <strong class="text-gray-700 dark:text-gray-300">Discounts:</strong>
            <ul class="pl-5 list-disc">
              <li *ngFor="let discount of hotel.seasons[0].discounts">
                {{ discount.discountName }} -
                <strong>{{ discount.percentage }}%</strong>
              </li>
            </ul>
          </div>
          <div>
            <strong class="text-gray-700 dark:text-gray-300">Markups:</strong>
            <ul class="pl-5 list-disc">
              <li *ngFor="let markup of hotel.seasons[0].markups">
                {{ markup.markupName }} -
                <strong>{{ markup.percentage }}%</strong>
              </li>
            </ul>
          </div>
        </div>

        <!-- Next Button -->
        <div class="flex justify-end mt-6">
          <button
            (click)="navigateToBooking()"
            class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600 dark:bg-green-700 dark:hover:bg-green-800 w-[100px]"
          >
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
