<div
  class="max-w-lg p-6 mx-auto text-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mt-[150px] mb-[180px]"
>
  <a href="#">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      Booking Confirmed Successfully
    </h5>
  </a>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    Your booking has been confirmed successfully with Booking ID: 123456789. We
    are delighted to welcome you to Kingsford Residencies!
  </p>
  <button
    type="submit"
    class="flex items-center justify-center text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-500 dark:focus:ring-green-600"
  >
    My Bookings
  </button>
</div>
