<div
  class="relative overflow-x-auto shadow-md sm:rounded-lg mt-[120px] w-[1200px] align-items-center justify-center mx-auto"
>
  <h2 class="text-4xl font-extrabold text-center dark:text-white mb-[50px]">
    Bookings
  </h2>
  <table
    class="w-[1200px] text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Hotel Name</th>
        <th scope="col" class="px-6 py-3">Location</th>
        <th scope="col" class="px-6 py-3">Check-in</th>
        <th scope="col" class="px-6 py-3">Check-out</th>
        <th scope="col" class="px-6 py-3">Guests</th>
        <th scope="col" class="px-6 py-3">Total Price</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let booking of bookings"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ booking.hotelName }}
        </th>
        <td class="px-6 py-4">{{ booking.hotelLocation }}</td>
        <td class="px-6 py-4">{{ booking.checkIn }}</td>
        <td class="px-6 py-4">{{ booking.checkOut }}</td>
        <td class="px-6 py-4">
          {{ booking.noOfAdults }} Adults, {{ booking.noOfChildren }} Children
        </td>
        <td class="px-6 py-4">LKR {{ booking.payableAmount }}</td>
        <td class="px-6 py-4 text-right">
          <a
            (click)="viewBookingDetails(booking.bookingId)"
            class="font-medium text-green-500 dark:text-green-500 hover:underline"
            >Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
