<div class="max-w-6xl p-6 mx-auto mt-24">
  <h2 class="mb-10 text-4xl font-extrabold text-center text-gray-900 dark:text-white">
    Admin Dashboard
  </h2>

  <div class="flex justify-center">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-2">
      <div
        class="max-w-xs transition-shadow duration-300 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 hover:shadow-xl"
      >
        <a href="#">
          <img
            class="object-contain w-full h-48 rounded-t-lg"
            src="assets/img/hotelmanage.png"
            alt="User Management"
          />
        </a>
        <div class="p-6">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              User Management
            </h5>
          </a>
          <p class="mb-4 font-normal text-gray-500 dark:text-gray-400">
            Easily manage user accounts and roles. Create, edit, or delete
            profiles, and keep track of user activity. Perfect for maintaining a
            secure and organized user database.
          </p>
          <div class="flex space-x-4">
            <a
              href="/users"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-700 dark:hover:bg-green-600 dark:focus:ring-green-800"
            >
              Users
              <svg
                class="w-4 h-4 ml-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
            <a
            (click)="navigateTo('/register')"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >
              Add User
              <svg
                class="w-4 h-4 ml-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div
        class="max-w-xs transition-shadow duration-300 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 hover:shadow-xl"
      >
        <a href="#">
          <img
            class="object-contain w-full h-48 rounded-t-lg"
            src="assets/img/usermanage.png"
            alt="Hotel Management"
          />
        </a>
        <div class="p-6">
          <a href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Hotel Management
            </h5>
          </a>
          <p class="mb-4 font-normal text-gray-500 dark:text-gray-400">
            Streamline your hotel operations. Manage bookings, rooms, and guest
            services all in one place. Get real-time updates on occupancy and
            revenue to enhance guest experiences.
          </p>
          <div class="flex space-x-4">
            <a
              href="/hotels"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-700 dark:hover:bg-green-600 dark:focus:ring-green-800"
            >
              Hotels
              <svg
                class="w-4 h-4 ml-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
            <a
            (click)="navigateTo('/addhotel')"
              class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >
              Add Hotel
              <svg
                class="w-4 h-4 ml-2 rtl:rotate-180"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>