<nav class="flex mt-[100px] ml-[200px]" aria-label="Breadcrumb">
  <ol
    class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
  >
    <li class="inline-flex items-center">
      <a
        href="/hotels"
        class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-green-500 dark:text-gray-400 dark:hover:text-white"
      >
        <svg
          class="w-3 h-3 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
          />
        </svg>
        Hotels
      </a>
    </li>
  </ol>
</nav>

<!-- hotel-list.component.html -->
<div class="mt-[-20px] mx-[200px]">
  <h2 class="my-10 text-4xl font-extrabold text-center dark:text-white">
    Hotels
  </h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Hotel Name</th>
          <th scope="col" class="px-6 py-3">Location</th>
          <th scope="col" class="px-6 py-3">Contact</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3 pl-[180px]">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let hotel of hotels"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ hotel.hotelName }} ★ {{ hotel.hotelRating }}
          </th>
          <td class="px-6 py-4">
            {{ hotel.hotelCity }}, {{ hotel.hotelCountry }}
          </td>
          <td class="px-6 py-4">{{ hotel.hotelContactNumber }}</td>
          <td class="px-6 py-4">{{ hotel.hotelEmail }}</td>
          <td class="px-2 py-4 space-x-2 text-right">
            <button
              (click)="navigateToAddContract(hotel.hotelID)"
              class="px-3 py-2 text-xs text-white bg-orange-400 rounded-lg hover:bg-orange-500"
            >
              Add Contract
            </button>
            <button
              (click)="navigateToContractList(hotel.hotelID)"
              class="px-3 py-2 text-xs text-white bg-blue-500 rounded-lg hover:bg-blue-600"
            >
              Contracts
            </button>
            <button
              (click)="navigateToUpdate(hotel.hotelID)"
              class="px-3 py-2 text-xs text-white bg-green-500 rounded-lg hover:bg-green-600"
            >
              Update
            </button>
            <button
              (click)="deleteHotel(hotel.hotelID)"
              class="px-3 py-2 text-xs text-white bg-red-500 rounded-lg hover:bg-red-600"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
